<% title "Edit profile" %>
<div class="container">
  <div class="box-outter">
    <div class="box-inner">
      <%= simple_form_for [@user] do |f| %>
        <%= f.input :first_name %><br>
        <%= f.input :last_name %><br>
         <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :portrait %>
        <%= f.input :portrait_cache, as: :hidden %>
        <div class="form-actions">
          <%= f.submit "Save changes", class: "btn-spad" %>
          <%= link_to "Cancel", :back, class: "btn-spad-cancel" %>
    </div>



      <% end %>

    </div>
  </div>
</div>


