<div Class="container">

  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= simple_form_for :user, url: user_invitation_path, html: { method: :post} do |f| %>

    <% User.invite_key_fields.each do |field| -%>
      <%= f.input field %>
    <% end %>
    <input name="user[company_id]" type="hidden" value="<%= current_user.company_id %>">
    <input name="user[status]" type="hidden" value="invited">
    <%= f.button :submit, t("devise.invitations.new.submit_button") %>
  <% end %>
  <br>
  <% if policy(User).index? %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <tr>
        <td>
          <strong>First Name</strong>
        </td>
        <td>
          <strong>Last Name</strong>
        </td>
        <td>
          <strong>Email</strong>
        </td>
        <td>
          <strong>Status</strong>
        </td>
        <td>
          <strong>Invitation sent</strong>
        </td>
        <td>
          <strong>Actions</strong>
        </td>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td><%= user.invitation_sent_at %></td>
          <td>
            <% if policy(user).reinvite? %>
              <%= link_to 'Re-invite', reinvite_path(user), :class => "btn-medium", method: :post %>
             <% end %>
             <% if policy(user).destroy? %>
               <%= link_to 'Delete', user_path(user),
                :class => "btn-medium",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              <% end %>
         </td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
</div>

