<div class="container">
  <div class="box-outter">
    <div class="box-inner">
      <p><strong>First Name :</strong> <%= @user.first_name %></p>
      <p><strong>Last Name :</strong> <%= @user.last_name %></p>
      <p><strong>Email :</strong>  <%= @user.email %></p>
      <p><strong>Type :</strong>  <%= @user.role(@user) %></p>
      <%= cl_image_tag @user.portrait, crop: :fill, class: "avatar-large-profile" %>
      <br>

      <p class="margined-bottom"><%= link_to 'Edit profile', edit_user_path(@user), class: "btn-spad-cancel", style: "white-space: nowrap;" %></p>
      <p><%= link_to 'Change Password', edit_user_registration_path, class: "btn-spad-green", style: "white-space: nowrap;" %></p>
    </div>
  </div>
</div>
