

<div class="container">
  <% if policy(@categories).new? %>
    <%= link_to "Add a category", new_category_path, class: "btn btn-primary" %>
  <% end %>

  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Number of entries</th>
          <% if policy(@categories).new? %>
            <th colspan="2" class="text-center">Controls</th>
          <% else %>
            <th>Controls</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
          <% @categories.each do |c| %>
            <% if c.status == "Not active" %>
              <tr class="transparent">
            <% else %>
              <tr>
            <% end %>
              <td><p><%= c.name %></p></td>
              <td><p><%= c.status %><p></td>
              <td><p><%= c.expenses.sum(:amount) %></p></td>
              <td><p><%= c.expenses.count %></p></td>
              <% if policy(@categories).new? %>
                <% if (c.status != "Active") %>
                  <td><%= link_to "Activate", activate_category_path(c), method: :patch %></td>
                <% else %>
                  <td><%= link_to "Deactivate", deactivate_category_path(c), method: :patch %></td>
                <% end %>
              <% end %>
              <td><%= link_to "Edit", edit_category_path(c) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
</div>
