<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
  <title>Expenses</title>
</head>
<style>
  body {
    background-color: white;
  }
</style>
<body>
  <h3>Company: <%= current_user.company.name %></h3>
  <% if params[:year].present? %>
    <p>Report for period: <%= Date.new(params[:year].to_i,params[:month].to_i,current_user.company.credit_cards.where(status: "Active").first.billing_day).prev_month %> - <%= Date.new(params[:year].to_i,params[:month].to_i,current_user.company.credit_cards.where(status: "Active").first.billing_day) %></p>
  <% elsif params[:all].present? %>
     <p>Report for period: All time</p>
  <% else %>
    <p>Report for period: <%= Date.new(Date.today.year,Date.today.month,current_user.company.credit_cards.where(status: "Active").first.billing_day).prev_month %> - <%= Date.new(Date.today.year,Date.today.month,current_user.company.credit_cards.where(status: "Active").first.billing_day) %></p>
  <% end %>
  <p>Credit card: <%= current_user.company.credit_cards.where(status: "Active").first.mask %></p>
  <p>Total amount for this period: €<%= @total_expense %></p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
        <% @expenses.each_with_index do |c, index| %>
          <tr>
          <td><p><%= index += 1 %></p></td>
          <td><p><%= c.user.first_name %> <%= c.user.last_name %></p></td>
          <td><p><%= c.date.strftime("%d/%m/%Y") %><p></td>
          <td><p><%= humanized_money_with_symbol(c.amount) %><p></td>
          <td><p><%= c.category.name %><p></td>
        <% end %>
    </tbody>


  </table>
  <div class="page-break"></div>
</body>
</html>

<% @expenses.each_with_index do |c, index| %>
  <p>Receipt for ID: <%= index += 1 %></p>
  <p><%= c.user.first_name %> <%= c.user.last_name %> | Date: <%= c.date %> | Amount: <%= humanized_money_with_symbol(c.amount) %></p>
  <p>Details: <%= c.details %></p>
  <%= image_tag(c.receipt.url(:standart_transform)) %>
  <div class="page-break"></div>
<% end %>


